/* Variables */
:root {
    /* Colors */
    --color-primary:    #00356b;
    --color-secondary:    #c05c7e;
    --color-tertiary:      #f3826f;
    --color-blue:        #4aa5c4;
    --color-babyBlue:    #b3dade;
    --color-grey:        #cccccc;
    --color-darkGrey:    #666666;
    --color-lightGrey:   #f3f3f3;
    --color-white:       #FFF;

    /* Global Values */
    --size-radius:       4px;
}

body {
    background:var(--color-lightGrey)
}

/****** Navigation *****/
nav {
    width:100%;
    padding:20px 0px 20px 0px !important;
    background:var(--color-primary);
}

section {
    margin:10px 0px;    
}

#top-bar {
    width:100%;
    display:flex;
    position: relative;
    padding-bottom:15px;
}

#top-bar .left-bar {
    flex:.5;
    text-align:center;  
    margin-left:20px;
    margin-right:20px;
}

/* Kenzie Logo */
.logo {
    width:55px;
    margin:auto;
    display: inline-block;
    text-align:center;
    padding-top:10px;
    fill:var(--color-white);
}

.logo-arrow {
    fill:var(--color-tertiary);
}
svg {width: 50%; height: auto;}

/* Search Bar */
#top-bar .left-bar {
    flex:.8;
    /* background:red; */
}

#top-bar .search {
    display: flex;
    flex:3;
    height: 55px;
}

.search select {
    width:50px;
    height:55px;
    margin:auto;
    -webkit-border-radius: 0px;
    -webkit-appearance: none;
    -moz-border-radius: 0px;
    -moz-appearance: none;
    padding-left:19px;
    outline:none;
    border:none;
    border-top-left-radius: var(--size-radius);
    border-bottom-left-radius: var(--size-radius);
}

.search select:hover {
    background:var(--color-grey);
}

.search #search {
    flex:1;
    outline:none;
    border:none;
    padding-left:15px;
    padding-right:15px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(45, 45, 45);
    font-size:.9rem;
}

.search #search-btn {
    width:50px;
    height:55px;
    background:var(--color-tertiary);
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    color:var(--color-primary);
    text-align:center;
    line-height:55px;
}

.search #search-btn:hover {
    background:var(--color-secondary);
    color:var(--color-white);
}

#top-bar .right-bar {
    flex:1;
    background:orange;
}

/* Menu Icon */

#menu {
    flex:.5;
    text-align:center;
    margin-left:20px;
    margin-right:20px;
}

#menu > .fas {
    position: relative;
    top:13px;
    font-size:22px;
    padding:5px 7px;
    color:var(--color-white);
    border:1px solid var(--color-darkGrey);
    border-radius:var(--size-radius);
}

#menu > .fas:hover {
    cursor:pointer;
}

#quick-links {
    /* padding:20px 0px 10px 15px; */
    display:flex;
    padding:25px 0px 0px 0px;
}

#quick-links .location {
    flex:.5;
    color:var(--color-white);
    text-align: center;
}


#quick-links .promo-links {
    flex:1.5;
    text-align:center;
}

#quick-links .user-links {
    flex:1;
    text-align:center;
    margin-right:15px;
}

.location span {
    font-family:Arial, Helvetica, sans-serif;
}

.promo-links ul li {
    display:inline-block;
    margin-right:10px;
}

.promo-links ul li:last-child {
    margin-right:0px;
}

.promo-links ul li a {
    text-decoration: none;
    color:var(--color-grey);
    font-family:Arial, Helvetica, sans-serif;
}

.user-links ul li {
    display:inline-block;
    margin-right:10px;
}

.promo-links ul li:last-child {
    margin-right:0px;
}

.user-links ul li a {
    text-decoration: none;
    color:var(--color-white);
    font-family:Arial, Helvetica, sans-serif;
}

section#quick-block {
    display:flex;
    margin:15px 0px;
}


#sign-block {
    background:none !important;
    box-shadow:none !important;
    padding-top:0px !important;
}

.quick-blocks {
    flex:1;
    background:var(--color-white);
    border-radius:var(--size-radius);
    box-shadow:0px 0px 20px rgba(0, 0, 0, 0.03);
    padding-top:20px;
    padding-bottom:0px;
    margin-right:15px;

}

.quick-blocks:first-child {
    margin-left:15px;
}

.quick-blocks h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:var(--color-primary);
    font-size:1.2rem;
    margin-left:15px;
    margin-left:15px;
    margin-bottom:15px;
}

.quick-blocks .quick-cover {
    width:100%;
    height:250px;
    background:var(--color-primary);
}

.quick-blocks .quick-content {
    display:block;
    padding:15px 15px;
    min-height:50px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:.9rem;
    line-height:20px;
}

.quick-blocks .full-btn {
    display:inline-block;
    padding:15px 0px;
    width:100%;
    text-align:center;
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:.9rem;
    color:var(--color-primary);
    background:var(--color-white);
    border-bottom-right-radius: var(--size-radius);
    border-bottom-left-radius: var(--size-radius);
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}

.quick-blocks .full-btn:hover {
    color:var(--color-blue);
}

.quick-blocks .signin-block {
    padding:15px 15px;
    background:var(--color-white);
    border-radius:var(--size-radius);
    box-shadow:0px 0px 20px rgba(0, 0, 0, 0.03);
    margin:0;
}

.quick-blocks .signin-block span {
    display:block;
    margin-bottom:15px;
    font-size:1.5rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
}

.quick-blocks .signin-block a {
    margin:0;
    width:100%;
    padding:10px 0px;
    text-align:center;
    border-radius:var(--size-radius);
    display:block;
    /* background:-webkit-linear-gradient(top, var(--color-lightOrange), var(--color-orange)); */
    background:var(--color-tertiary);
    text-decoration:none;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-size:.9rem;
}

.quick-blocks .signin-block a:hover {
    background:var(--color-tertiary);
}

.adblock {
    background:var(--color-grey);
    height:290px;
    margin-top:15px;
    border-radius:var(--size-radius);
    box-shadow:0px 0px 20px rgba(0, 0, 0, 0.03);
}

#sContainer {
    height:70vh;
    width:95%;
    padding:30px 0px;
    display:flex;
    /* justify-content:space-around; */
    align-items:center;
    margin:auto;
}

.section {
    /* background:var(--color-primary); */
    height:90vh;
    display:flex;
    height: fit-content;
}

.section0 {
    width:50%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right:30px;
}

.section1 {
    width:50%;
    position:relative;
    height:65vh;
    min-width: 300px;
    /* background:var(--color-white); */
}

.shirtContainer {
    /* align-self:center; */
}

.button {
    font-size:1rem;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    border-radius:var(--size-radius);
    margin-bottom:15px;
    height:7vw;
    width: 100%;
    box-shadow:0px 0px 20px rgba(0, 0, 0, 0.03);;
    /* -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out; */
    color:var(--color-primary);
    border:none;
    outline:none;
    position: relative;
}

.button:hover {
    background:var(--color-primary);
    color:#FFF;
    cursor:pointer;
}

.button:last-child {
    margin-bottom:0px !important;
}

.shirt {
    position: absolute;
    height: 40vh;
    margin: 0px auto;
}

.design {
    position: absolute;
    height: 9vh;
    margin: 10px;
    top: 13vh;
    left: 8.5vh;
}
